
.fi-body {
    background-color: #ffffff;
    background-image: url("../images/blob-haikei.svg");
    background-attachment: fixed;
    background-size: cover;
}

.fi-logo{
    height: 90px!important;
}

.fi-simple-main{
    box-shadow: 0px 0px 12px 7px rgba(0,0,0,0.1);
}

.systemTitle{
    color: #00bb00;
    font-family: 'Poppins', sans-serif;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 5px;
}

.imageBanner{
    display: grid;
    place-items: center;
}
